#filedrag{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555555;
	border: 2px dashed #555555;
	border-radius: 7px;
	cursor: default;
}
#filedrag.hover{
	color: #ff0000;
	border: dashed #ff0000;
	box-shadow: inset 0 3px 4px #888888;
}
#progress div.upload{
	display: block;
	width: 240px;
	margin: 2px 0;
	border: 1px inset #444466;
	border-radius: 5px;
	background: #eeeeee url("progress.png") 100% 0 repeat-y;
}
#progress div.bar{
	background: #00cc00 none 0 0 no-repeat;
}
#progress div.success{
	background: #00cc00 none 0 0 no-repeat;
}
#progress div.failed{
	background: #cc0000 none 0 0 no-repeat;
}
img{
	width: 300px;
}